In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\mapa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\mapa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mapa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\mapa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mapa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mapa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mapa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\mapa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\mapa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
# Importe o pandas no ambiente python
import pandas as pd

# carregamento do arquivo marketing.csv
marketing = pd.read_csv('./marketing.csv')

In [4]:
# item A
marketing.head(5)

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
0,a100000029,1/1/18,House Ads,personalization,True,English,English,0-18 years,1/1/18,NaN,House Ads,True
1,a100000030,1/1/18,House Ads,personalization,True,English,English,19-24 years,1/1/18,NaN,House Ads,True
2,a100000031,1/1/18,House Ads,personalization,True,English,English,24-30 years,1/1/18,NaN,House Ads,True
3,a100000032,1/1/18,House Ads,personalization,True,English,English,30-36 years,1/1/18,NaN,House Ads,True
4,a100000033,1/1/18,House Ads,personalization,True,English,English,36-45 years,1/1/18,NaN,House Ads,True

In [3]:
# item B
marketing.describe(include='all')

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
count,10037,10021,10022,10037,10022,10037,10037,10037,1856,577,1856,1856
unique,7309,31,5,2,2,4,4,7,31,115,5,2
top,a100000882,1/15/18,House Ads,control,False,English,English,19-24 years,1/16/18,4/2/18,Instagram,True
freq,12,789,4733,5091,8946,9793,9275,1682,163,15,600,1279

In [6]:
# item 3

marketing['converted'] = marketing['converted'].astype('bool')

In [7]:
# item C
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   converted            10037 non-null  bool
 5   language_displayed   10037 non-null  object
 6   language_preferred   10037 non-null  object
 7   age_group            10037 non-null  object
 8   date_subscribed      1856 non-null   object
 9   date_canceled        577 non-null    object
 10  subscribing_channel  1856 non-null   object
 11  is_retained          1856 non-null   object
dtypes: bool(1), object(11)
memory usage: 872.5+ KB

In [8]:
#Criando novas colunas do tipo Bool
import numpy as np

In [9]:
# Verifique o tipo de dado da coluna is_retained
print(marketing['is_retained'].dtype)

# Converta is_retained para booleano
marketing['is_retained'] = marketing['is_retained'].astype('bool')

# Verifique novamente o tipo de dado da coluna is_retained
print(marketing['is_retained'].dtype)

object
bool

In [ ]:
# Item A
marketing = pd.DataFrame({
    'subscribing_channel': ['House Ads', 'Instagram', 'Facebook', 'Email', 'Push', 'Instagram']
})

# Mapeamento de canais
channel_dict = {"House Ads": 1, "Instagram": 2, 
                "Facebook": 3, "Email": 4, "Push": 5}

# Adicionar a nova coluna channel_code, mapeando com o channel_dict
marketing['channel_code'] = marketing['subscribing_channel'].map(channel_dict)

# Exibir o DataFrame resultante
print(marketing)

  subscribing_channel  channel_code
0           House Ads             1
1           Instagram             2
2            Facebook             3
3               Email             4
4                Push             5
5           Instagram             2

In [ ]:
# Item B
marketing = pd.DataFrame({
    'language_preferred': ['English', 'Portuguese', 'English', 'Portuguese'],
    'language_displayed': ['English', 'English', 'English', 'Portuguese']
})

# Adicionar a nova coluna is_correct_lang
marketing['is_correct_lang'] = np.where(marketing['language_preferred'] == marketing['language_displayed'], 'Yes', 'No')

# Exibir o DataFrame resultante
print(marketing)

  language_preferred language_displayed is_correct_lang
0            English            English             Yes
1         Portuguese            English              No
2            English            English             Yes
3         Portuguese         Portuguese             Yes

In [17]:
# Ler o arquivo marketing.csv e especificar as colunas de data corretamente
marketing = pd.read_csv('marketing.csv', parse_dates=['date_served', 'date_subscribed', 'date_canceled'])

# Adicionar a nova coluna DoW (Dia da Semana) a partir de 'date_subscribed'
marketing['DoW'] = marketing['date_subscribed'].dt.dayofweek

# Exibir o DataFrame para verificar as alterações
print(marketing)

          user_id date_served marketing_channel          variant converted  \
0      a100000029  2018-01-01         House Ads  personalization      True
1      a100000030  2018-01-01         House Ads  personalization      True
2      a100000031  2018-01-01         House Ads  personalization      True
3      a100000032  2018-01-01         House Ads  personalization      True
4      a100000033  2018-01-01         House Ads  personalization      True
...           ...         ...               ...              ...       ...
10032  a100007290  2018-01-17             Email          control      True
10033  a100007291  2018-01-17             Email          control      True
10034  a100007292  2018-01-05         Instagram          control     False
10035  a100007293  2018-01-17             Email          control      True
10036  a100007294  2018-01-06          Facebook          control     False

      language_displayed language_preferred    age_group date_subscribed  \
0                English            English   0-18 years      2018-01-01
1                English            English  19-24 years      2018-01-01
2                English            English  24-30 years      2018-01-01
3                English            English  30-36 years      2018-01-01
4                English            English  36-45 years      2018-01-01
...                  ...                ...          ...             ...
10032             German             German  45-55 years      2018-01-17
10033             German             German    55+ years      2018-01-17
10034             German             German    55+ years      2018-01-17
10035             German             German   0-18 years      2018-01-17
10036             German             German   0-18 years      2018-01-17

      date_canceled subscribing_channel is_retained  DoW
0               NaT           House Ads        True  0.0
1               NaT           House Ads        True  0.0
2               NaT           House Ads        True  0.0
3               NaT           House Ads        True  0.0
4               NaT           House Ads        True  0.0
...             ...                 ...         ...  ...
10032    2018-01-24               Email       False  2.0
10033           NaT               Email        True  2.0
10034           NaT               Email        True  2.0
10035           NaT               Email        True  2.0
10036           NaT               Email        True  2.0

[10037 rows x 13 columns]

C:\Users\mapa\AppData\Local\Temp\ipykernel_29728\3603406046.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  marketing = pd.read_csv('marketing.csv', parse_dates=['date_served', 'date_subscribed', 'date_canceled'])
C:\Users\mapa\AppData\Local\Temp\ipykernel_29728\3603406046.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  marketing = pd.read_csv('marketing.csv', parse_dates=['date_served', 'date_subscribed', 'date_canceled'])
C:\Users\mapa\AppData\Local\Temp\ipykernel_29728\3603406046.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  marketing = pd.read_csv('marketing.csv', parse_dates=['date_served', 'date_subscribed', 'date_canceled'])

In [31]:
import matplotlib.pyplot as plt

# Análise exploratória inicial
    # Item A
daily_users = marketing.groupby(['date_served'])['user_id'].nunique()

# Exibir as primeiras linhas do DataFrame daily_users
print(daily_users.head())

# Plot daily_users
daily_users.plot()

# Include a title and y-axis label
plt.title('Usuários Diários')
plt.ylabel('Número de usuários')

# Rotate the x-axis labels by 45 degrees
plt.xticks(rotation=45)

# Display the plot
plt.show()

ModuleNotFoundError: No module named 'matplotlib'